assets/imgs/bgd_conv_2.mp4
assets/imgs/bgd_conv.mp4
assets/imgs/BGD.mov
assets/imgs/hexagons.jpg

assets/fonts/Montserrat-Black.otf
assets/fonts/Montserrat-BlackItalic.otf
assets/fonts/Montserrat-Bold.otf
assets/fonts/Montserrat-BoldItalic.otf
assets/fonts/Montserrat-ExtraBold.otf
assets/fonts/Montserrat-ExtraBoldItalic.otf
assets/fonts/Montserrat-ExtraLight.otf
assets/fonts/Montserrat-ExtraLightItalic.otf
assets/fonts/Montserrat-Thin.otf
assets/fonts/Montserrat-ThinItalic.otf
assets/fonts/MontserratAlternates-Black.otf
assets/fonts/MontserratAlternates-BlackItalic.otf
assets/fonts/MontserratAlternates-Bold.otf
assets/fonts/MontserratAlternates-BoldItalic.otf
assets/fonts/MontserratAlternates-ExtraBold.otf
assets/fonts/MontserratAlternates-ExtraBoldItalic.otf
assets/fonts/MontserratAlternates-ExtraLight.otf
assets/fonts/MontserratAlternates-ExtraLightItalic.otf
assets/fonts/MontserratAlternates-Italic.otf
assets/fonts/MontserratAlternates-Light.otf
assets/fonts/MontserratAlternates-LightItalic.otf
assets/fonts/MontserratAlternates-Medium.otf
assets/fonts/MontserratAlternates-MediumItalic.otf
assets/fonts/MontserratAlternates-Regular.otf
assets/fonts/MontserratAlternates-SemiBold.otf
assets/fonts/MontserratAlternates-SemiBoldItalic.otf
assets/fonts/MontserratAlternates-Thin.otf
assets/fonts/MontserratAlternates-ThinItalic.otf
assets/fonts/SIL Open Font License.txt